.header{
  background: #f63440;
  background-color: #f63440;
    .columns{
      padding: 18px !important;
      line-height: 18px !important;
    }
}
b{
  font-size: 22px !important;
line-height: 30px !important;
}
h2{
  font-size: 17.3px !important;
  line-height: 1.51 !important;
}
li{
  color: $secondary-color;
}

.footer-text{
  p{
    color: $secondary-color;
  }
}